body {
    font-family: 'Open Sans', sans-serif;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    font-weight: 600;
  }

  thead th {
    border-bottom: 2px solid #333;
    padding: 10px;
    text-align: left;
  }

  tbody tr {
    border-bottom: 1px solid #ccc;
  }

  tbody td {
    padding: 10px;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  .btn-container {
    display: flex;
    gap: 1rem; /* Add space between buttons */
  }